{
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "es5",
    "printWidth": 100,
    "arrowParens": "always",
    "overrides": [
        {
            "files": [
                "*.yml",
                "*.yaml"
            ],
            "options": {
                "tabWidth": 4
            }
        }
    ]
}
